*/main
*/tempCodeRunnerFile.v
*/tempCodeRunnerFile
day7b/bla.v
day10b/main_basic.v
day11/main_match_bug.v
day11b/main_match_bug.v
day11b/optional.v
day14/tst.v
day14b/permutate.v
day16b/parse_num_regex.v
day22/day22a copy.v